<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front/styles.css">
    <title>Closed Domain Chatbot</title>

</head>

<body>

    <div class="container">
        <div class="left-column">
            <div class="title">Drag and Drop Area</div>
            <div class="drop-area" id="dropArea">
                <span class="tag">Drag and drop a file here</span>
                <span class="file-name"></span>
            </div>
            <div class="loading-area">
                <!-- <span class="loading">loading...</span>
                <span class="file-name">file name.docx</span> -->
            </div>
        </div>
        <div class="right-column">
            <div class="text-area">
                <textarea class="textbox" placeholder="What would you like to know?"></textarea>
                <button class="my-button">send</button>
            </div>
            <div class="responses">
                {% if new_doc %}
                {% for paragraph in new_doc %}
                <p>{{ paragraph }}</p>
                {% endfor %}
                {% else %}
                <p>No document contents available.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/front/script.js"></script>
</body>

</html>